.centralizar{
	text-align: center;
}

li{
	list-style-position: inside;
}

img.centralizar{
	display: block;
	margin: auto;
}
#titulo{
	font-size: 80px;
	color: black;
}

.lista1{
	font-size: 35px;
	color: #31c6f7;
}

.subtitulo{
	font-size: 40px;
	color: white;
}

p, .lista2{
	font-size: 25px;
	color: #00e5ff;
	padding-left: 55px;
}


.cabecalho{
	font-size: 20px;
	background-color: #1f71ff;
	border-radius: 15px;
}

body{
	background-image: url(../img/fundo_site_v3.png);
	background-color: grey;
	background-repeat: no-repeat;
	background-size: cover;
}

.highlight{
	background-image: radial-gradient(circle, #013d91 65%, black );
	border-radius: 25px;
}

.voltar{
	font-size: 20px;
	background-color: #1f71ff;
	border-radius: 15px;
}

